<span id="_header-logo" onclick="document.location.href='/'" class="cursor--pointer">
    <span id="_brand">
        <img src="{{ site.brand-icon | default:'/assets/image/brand-icon.svg'}}" alt=""/>
        <span>{{ site.brand-title | default:site.github.repository_name }}</span>
    </span>
</span>
<div id="_header-menuButton">
    <img onclick="_openMenu();" src="/assets/image/icon-menu.svg" class="icon font-size--large link" alt=""/>
</div>
<ul id="_header-menu">
    <li>
        <a href="{{ site.github.repository_url }}" target="_blank">
            <i class="fa-brands fa-github vertical-align--middle font-size--large"></i>
        </a>
    </li>
    <li>
        <span class="icon dark-mode-switch font-size--larger" onclick="_toggleDarkMode();"></span>
    </li>
    <li>
        <label>
            <select>
                <option value="en">English</option>
                <option value="kr">Korean</option>
            </select>
        </label>
    </li>
</ul>

