<span id="_header-brand" onclick="document.location.href='/'" class="cursor--pointer">
    {{ site.brand-icon | default:'<img class="icon" src="/assets/image/brand-icon.svg"/>' }}
    {{ site.brand-name | default:site.github.repository_name }}
</span>
<span id="_header-menu-button">
    <img onclick="_openMenu();" src="/assets/image/icon-menu.svg" class="icon font-size--large link" alt=""/>
</span>
<ul id="_header-menu">
    <li>
        <a href="{{ site.github.repository_url }}" target="_blank">
            <i class="fa-brands fa-github vertical-align--middle font-size--large"></i>
        </a>
    </li>
    <li>
        <span class="icon dark-mode-switch font-size--larger" onclick="_toggleDarkMode();"></span>
    </li>
    <li>
        <label>
            <select>
                <option value="en">English</option>
                <option value="kr">Korean</option>
            </select>
        </label>
    </li>
</ul>

