<ul class="_nav-menu">
    {% for item in site.data.navigation %}
    <li>
        <a href="{{ item.url }}" class="{% if item.url == nil %}disabled{% endif %}" target="{{ item.target | default: '_self' }}">
            {{ item.icon | default:'' }}
            {{ item.title }}
        </a>
        {% if item.children %}
        <ul class="_nav-menu">
            {% for child in item.children %}
            <li>
                <a href="{{ child.url }}" class="{% if child.url == nil %}disabled{% endif %}" target="{{ child.target | default: '_self' }}">
                    {{ child.icon | default:'' }}
                    {{ child.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}

    {% assign docs = site.pages | where_exp: "doc", "doc.url contains '/docs/'" | sort: "path" %}
    {% for doc in docs %}
    <li>
        <a href="{{ doc.url }}">
            {{ doc.icon | default:'<i class="fa-regular fa-file"></i>' }}
            {{ doc.title | default:doc.name | remove:".md" | replace:"-"," " | capitalize }}
        </a>
    </li>
    {% endfor %}
</ul>
